*
{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
:root
{
  --col:rgb(0, 255, 0);
}
body{
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.App {
  text-align: center;
}
button{color: white;}
.total
{
  margin: 10px 0;
  padding:0 100px;
  padding-bottom:10px ;
  width: 500px;
  border: 3px solid var(--col);
  box-shadow: 0 0 20px var(--col);
}
h1
{
  color: var(--col);
  font-family: 'Oswald', sans-serif;
}
input
{
  width: 220px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 7px;
}
input:focus
{
  border: none;
  outline:2px solid var(--col) ;
  box-shadow: 0 0 10px var(--col);

}
.white{color: white;
display: inline;}
.submit
{
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 0 12px;
  font-size: 20px;
  font-weight: bolder;
  transition: transfrom 0.5s;
}
.submit:hover,.clear:hover{
  transform: scale(1.2);
  background-color: var(--col);
  color: white;
  cursor: pointer;
}
.list
{
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 17px;
  width: 220px;
  font-family: 'Oswald', sans-serif;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
}
h3{
  display: inline-block;
  margin-right: 10px;
}
.w3-btn
{
  background-color: red;
  border-radius: 50%;
  color: white;
  display: inline;
  padding: 2px 7px;
  transition: transform 0.4s;
}
.w3-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 0 0.5rem 0.3rem red;
}
.clear{
  width: 100%;
  background-color: var(--col);
  font-weight: bolder;
  font-size: 18px;
  transition: transform 0.3s;
  border: none;
}

@media(max-width:500px) 
{
  .total
  {
    width: 300px;
    padding: 10px 5px;
  }  
}
@media(max-width:281px) 
{
  .total
  {
    width: 270px;
    padding: 10px 3px;
  }  
  input{
    width: 200px;
  }
  .list{width: 200px;}
}